<ng-container *ngIf="types && brands && types.length && brands.length">
  <h5 class="text-warning ms-3">Sort</h5>
  <select name="" id="" class="form-select mb-3" #selectSort (change)="selectSortBy($event.target)">
    <option 
      *ngFor="let sort of sortOptions"
      [value]="sort.value"
    > {{sort.name}} </option>
  </select>
  <h5 class="text-warning ms-3">Brands</h5>
  <ul class="list-group my-3 bg-light">
    <li class="list-group-item bg-light" *ngFor="let brand of brands"  [ngClass]="{'active':selectedBrandId===brand.id}" (click)="selectBrand(brand.id)">{{brand.name}}</li>
  </ul>
  <h5 class="text-warning ms-3">Types</h5>
  <ul class="list-group my-3 bg-light">
    <li class="list-group-item bg-light" *ngFor="let type of types"  [ngClass]="{'active':selectedTypeId===type.id}" (click)="selectType(type.id)">{{type.name}}</li>
  </ul>
</ng-container>